/* ==========================================================================
   Utilities
   ========================================================================== */
.u-awwwards:hover {
    color: #3c948b;

    &:after {
        background-color: #3c948b;
    }
}

.u-minimal:hover {
    *:after {
        background-color: #000000;
    }

    *, *:before {
        color: #000000;
    }
}

.u-pomerleau:hover {
    *:after {
        background-color: #00acdb;
    }

    *, *:before {
        color: #00acdb;
    }
}

.u-kvell:hover {
    *:after {
        background-color: #B5C6C2;
    }

    *, *:before {
        color: #B5C6C2;
    }
}

.u-locomotive:hover {
    *:after {
        background-color: #4D84F1;
    }

    *, *:before {
        color: #4D84F1;
    }
}

.u-ige:hover {
    *:after {
        background-color: #ee7725;
    }

    *, *:before {
        color: #ee7725;
    }
}

.u-stconstant:hover {
    *:after {
        background-color: #9bcd66;
    }

    *, *:before {
        color: #9bcd66;
    }
}

.u-micanan:hover {
    *:after {
        background-color: #550ddd;
    }

    *, *:before {
        color: #550ddd;
    }
}

.u-parcours:hover {
    *:after {
        background-color: #e45f4d;
    }

    *, *:before {
        color: #e45f4d;
    }
}

.u-pincourt:hover {
    *:after {
        background-color: #a49a85;
    }

    *, *:before {
        color: #a49a85;
    }
}

.u-dhc:hover {
    *:after {
        background-color: #b62f31;
    }

    *, *:before {
        color: #b62f31;
    }
}

.u-casa:hover {
    *:after {
        background-color: #d16421;
    }

    *, *:before {
        color: #d16421;
    }
}

.u-normand:hover {
    *:after {
        background-color: #1d1d1d;
    }

    *, *:before {
        color: #1d1d1d;
    }
}

.u-compulsion:hover {
    *:after {
        background-color: #ebca70;
    }

    *, *:before {
        color: #ebca70;
    }
}

.u-swimming:hover {
    *:after {
        background-color: #00aad8;
    }

    *, *:before {
        color: #00aad8;
    }
}

.u-twitter:hover {
    *:after {
        background-color: #55acee;
    }

    *, *:before {
        color: #55acee;
    }
}

.u-instagram:hover {
    *:after {
        background-color: #e1306c;
    }

    *, *:before {
        color: #e1306c;
    }
}

.u-linkedin:hover {
    *:after {
        background-color: #0976b4;
    }

    *, *:before {
        color: #0976b4;
    }
}

.u-email:hover {
    *:after {
        background-color: #000000;
    }

    *, *:before {
        color: #000000;
    }
}

.u-github:hover {
    color: #0f0d0e;

    *, *:before {
        color: #0f0d0e;
    }

    &:after, *:after {
        background-color: #0f0d0e;
    }
}
