/* ==========================================================================
   Utilities
   ========================================================================== */
.u-awwwards:hover {
    color: #3c948b;

    &:after {
        background-color: #3c948b;
    }
}

.u-modularbp:hover {
    *:after {
        background-color: #000000;
    }

    *, *:before {
        color: #000000;
    }
}

.u-modularjs:hover {
    *:after {
        background-color: #4d4d4d;
    }

    *, *:before {
        color: #4d4d4d;
    }
}

.u-modularcss:hover {
    *:after {
        background-color: #999999;
    }

    *, *:before {
        color: #999999;
    }
}

.u-hopdeco:hover {
    *:after {
        background-color: #3a3c44;
    }

    *, *:before {
        color: #3a3c44;
    }
}

.u-greenbeaver:hover {
    *:after {
        background-color: #b5dfa2;
    }

    *, *:before {
        color: #b5dfa2;
    }
}

.u-englishbus:hover {
    *:after {
        background-color: #e22632;
    }

    *, *:before {
        color: #e22632;
    }
}

.u-pomerleau:hover {
    *:after {
        background-color: #00acdb;
    }

    *, *:before {
        color: #00acdb;
    }
}

.u-kvell:hover {
    *:after {
        background-color: #B5C6C2;
    }

    *, *:before {
        color: #B5C6C2;
    }
}

.u-locomotive:hover {
    *:after {
        background-color: #4D84F1;
    }

    *, *:before {
        color: #4D84F1;
    }
}

.u-ige:hover {
    *:after {
        background-color: #ee7725;
    }

    *, *:before {
        color: #ee7725;
    }
}

.u-stconstant:hover {
    *:after {
        background-color: #9bcd66;
    }

    *, *:before {
        color: #9bcd66;
    }
}

.u-parcours:hover {
    *:after {
        background-color: #e45f4d;
    }

    *, *:before {
        color: #e45f4d;
    }
}

.u-twitter:hover {
    *:after {
        background-color: #55acee;
    }

    *, *:before {
        color: #55acee;
    }
}

.u-instagram:hover {
    *:after {
        background-color: #e1306c;
    }

    *, *:before {
        color: #e1306c;
    }
}

.u-linkedin:hover {
    *:after {
        background-color: #0976b4;
    }

    *, *:before {
        color: #0976b4;
    }
}

.u-email:hover {
    *:after {
        background-color: #000000;
    }

    *, *:before {
        color: #000000;
    }
}

.u-github:hover {
    color: #0f0d0e;

    *, *:before {
        color: #0f0d0e;
    }

    &:after, *:after {
        background-color: #0f0d0e;
    }
}
