/* ==========================================================================
   Utilities
   ========================================================================== */
.u-awwwards:hover {
	color: #3c948b;

	&:after {
		background-color: #3c948b;
	}
}

.u-minimal:hover {
	*:after {
		background-color: #000000;
	}
	
	*, *:before {
		color: #000000;
	}
}

.u-compulsion:hover {
	*:after {
		background-color: #ebca70;
	}
	
	*, *:before {
		color: #ebca70;
	}
}

.u-normand:hover {
	*:after {
		background-color: #1d1d1d;
	}
	
	*, *:before {
		color: #1d1d1d;
	}
}

.u-upa:hover {
	*:after {
		background-color: #00a886;
	}
	
	*, *:before {
		color: #00a886;
	}
}

.u-mas:hover {
	*:after {
		background-color: #e30028;
	}
	
	*, *:before {
		color: #e30028;
	}
}

.u-laoun:hover {
	*:after {
		background-color: #ca8d9b;
	}
	
	*, *:before {
		color: #ca8d9b;
	}
}


.u-twitter:hover {
	*:after {
		background-color: #55acee;
	}
	
	*, *:before {
		color: #55acee;
	}
}

.u-instagram:hover {
	*:after {
		background-color: #3f729b;
	}
	
	*, *:before {
		color: #3f729b;
	}
}

.u-googleplus:hover {
	*:after {
		background-color: #dd4b39;
	}
	
	*, *:before {
		color: #dd4b39;
	}
}

.u-linkedin:hover {
	*:after {
		background-color: #0976b4;
	}
	
	*, *:before {
		color: #0976b4;
	}
}

.u-email:hover {
	*:after {
		background-color: #000000;
	}
	
	*, *:before {
		color: #000000;
	}
}

.u-github:hover {
	color: #0f0d0e;

	*, *:before {
		color: #0f0d0e;
	}

	&:after, *:after {
		background-color: #0f0d0e;
	}
}
